.menu_container {
  background-color: #5079C0;
  padding: 0;
  margin: 5px 0 0 0; }

#nav {
  margin: 0 25% 0 25%;
  width: 50%; }

ul {
  list-style: none;
  font-size: 0; }
  ul ul {
    position: absolute;
    display: none; }
    ul ul li {
      display: block;
      color: white;
      width: 70px; }
  ul li:hover ul {
    display: block;
    background-color: #5079C0; }
  ul li a {
    color: white;
    text-decoration: none; }

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px; }

#imgprinc {
  margin: 0;
  padding: 0; }
  #imgprinc img {
    width: 100%; }

.logo_registro {
  background-color: #5079C0;
  align-items: center; }

#head {
  padding: 0;
  margin: 0; }

.logo img {
  height: 60px;
  width: 400px;
  margin-left: 400px; }

.linkregister a {
  color: white;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFF4E7; }
