@charset "UTF-8";
/*no lo usen al final paso las cosas yo*/
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Kablammo&family=Modak&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Kablammo&family=Modak&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.menu_container {
  background-color: #809BCE;
  padding: 0; }

#nav {
  margin: 0 25% 0 25%;
  width: 50%; }

ul {
  list-style: none;
  font-size: 0; }
  ul ul {
    position: absolute;
    display: none; }
    ul ul li {
      display: block;
      color: white;
      width: 70px; }
  ul li:hover ul {
    display: block;
    background-color: #809BCE; }
  ul li a {
    color: white;
    text-decoration: none; }

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 14px; }

#imgprinc {
  margin: 0;
  padding: 0; }
  #imgprinc img {
    width: 100%; }

.logo_registro {
  background-color: #809BCE;
  align-items: center; }

#head {
  padding: 0;
  margin: 0; }

.logo img {
  height: 60px;
  width: 200px;
  margin-left: 400px; }

.linkregister a {
  color: white;
  text-decoration: none; }

/*no lo usen al final paso las cosas yo*/
* {
  margin: 0;
  padding: 0; }

.bodbodyMKingdomy {
  background-color: #FFF4E7; }

#menu1 {
  background-color: #90E0EF !important;
  height: 120px;
  margin: 0;
  padding: 0; }

#menu1_contLogo {
  display: flex;
  align-items: center;
  justify-content: center; }

#menu1_contLogo_logo {
  font-family: 'WaltographRegular';
  color: #00509D;
  font-size: 75px; }

#menu2 {
  background-color: #48CAE4 !important;
  height: 65px;
  margin: 0;
  padding: 0; }

#menu2_contItems {
  display: flex;
  justify-content: space-evenly; }

.menu2_items {
  color: #FDF1E4 !important;
  font-size: 25px; }

#contImgPrinc {
  padding: 0;
  width: 100%;
  height: 600px;
  position: relative;
  margin: 0;
  padding: 0; }

#contImgPrinc_imgPrinc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0; }

#contTitulo {
  width: 500px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%); }

#contTitulo_titulo {
  font-size: 40px;
  margin: 5px;
  color: #fff2e1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Times New Roman', Times, serif; }

#contTexto {
  background-color: #ADE8F4;
  width: 100%;
  height: 300px;
  border: solid 30px #FFF4E7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

#contTexto_texto {
  text-align: justify;
  font-size: 25px; }

.bodySesión {
  background: linear-gradient(to bottom, #00a9f2, #172D9D); }

.contenedor-Disney-Login {
  width: 100%; }

.Disney-Login {
  width: 200px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.container {
  align-items: center;
  font-family: Arial, sans-serif; }

.form-container {
  width: 600px;
  height: 690px;
  background: #fff;
  border-radius: 9px;
  box-shadow: 4px 8px 8px #000; }

.MyDisney {
  font-family: "Atma", serif;
  font-weight: 600;
  font-style: normal;
  color: #000; }

.form-titulo {
  color: #000;
  margin-bottom: 5px; }

.cambiarDeForm {
  text-align: center;
  color: #fff;
  margin-top: 10px; }

.BotonVolver {
  position: absolute;
  top: 30px;
  right: 35px; }

.footer-Login {
  background-color: #5c92cc;
  color: #ffffff; }
  .footer-Login .footer-Login-link {
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none; }
    .footer-Login .footer-Login-link:hover {
      text-decoration: underline;
      color: white; }
  .footer-Login .text-muted {
    color: white; }

.bodySesión {
  background: linear-gradient(to bottom, #00a9f2, #172D9D); }

.contenedor-Disney-Login {
  width: 100%; }

.Disney-Login {
  width: 200px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.container {
  align-items: center;
  font-family: Arial, sans-serif; }

.form-container-sesion {
  width: 500px;
  height: 460px;
  background: #fff;
  border-radius: 9px;
  box-shadow: 4px 8px 8px #000; }

.MyDisney {
  font-family: "Atma", serif;
  font-weight: 600;
  font-style: normal;
  color: #000; }

.form-titulo {
  color: #000;
  margin-bottom: 5px; }

.cambiarDeFormRegistro {
  text-align: center;
  color: #000;
  margin: 10px; }

.BotonVolver {
  position: absolute;
  top: 30px;
  right: 35px; }

.footer-Login {
  background-color: #5c92cc;
  color: #ffffff; }
  .footer-Login .footer-Login-link {
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none; }
    .footer-Login .footer-Login-link:hover {
      text-decoration: underline;
      color: white; }
  .footer-Login .text-muted {
    color: white; }

* {
  margin: 0;
  padding: 0; }

#temp {
  color: white; }

.bodyindex {
  background-color: #FFF4E7; }

#textini {
  margin: 0;
  padding: 0;
  background-color: #95B8D1; }
  #textini p {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 50px 90px 20px 90px; }

#cont_parquesT {
  margin: 0;
  padding: 0; }

.tarjeta {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #FFF4E7; }
  .tarjeta .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    text-align: center;
    padding: 10px; }
    .tarjeta .contenido h2 {
      margin: 0;
      font-size: 24px;
      opacity: 0; }
    .tarjeta .contenido p {
      margin: 10px 0 0;
      font-size: 16px;
      opacity: 0; }
  .tarjeta .imgtar_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    border-radius: 8px; }
  .tarjeta::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out; }
  .tarjeta:hover img {
    filter: grayscale(1) brightness(0.4); }
  .tarjeta:hover .contenido h2 {
    scale: 1;
    opacity: 1; }
  .tarjeta:hover .contenido p {
    opacity: 1;
    transform: translateY(0); }
  .tarjeta:hover::after {
    opacity: 1;
    inset: 20px; }
