#contCarouselTexto_ContTitulosPrinc_titak {
    font-size: 60px;
    color: $colorCeleste2; 
    font-family: "Mouse Memoirs", sans-serif;
    margin: 0;
    padding: 0;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;

    animation-range: entry 10% cover 50%;

    background: linear-gradient( to top, #a1cca5, #8fb996 , #5f8764);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}


#contCarouselTexto_ContTitulosPrinc_fraseak {
    font-size: 40px;
    color: $colorCeleste2; 
    font-family: "Mouse Memoirs", sans-serif;
    margin-top: 30px;
    padding: 0;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;

    background: linear-gradient( to top, #a1cca5, #8fb996 , #5f8764);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;


}

#contTextoak{
    background-color: $colorVerde3;
    width: 93%;
    height: 180px;
    align-self: center;
    justify-self: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    

}

#contTexto_textoak{
    font-family: "Faculty Glyphic", sans-serif;
    text-align: justify;
    font-size: 19px;
    color: #265c26;
    

}


#contTitAtrac_titak{
    text-align: center;
    color: $colorCeleste2;
    font-family: 'WaltographRegular', sans-serif;
    font-size: 70px;

    background: linear-gradient( to top, #a1cca5, #8fb996 , #5f8764);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 30px;

    view-timeline-name: --text-slide;
    view-timeline-axis: block; 
    animation-timeline: --text-slide;
    animation-name: slideIn2;
    animation-duration: 1.5s; 
    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;
}





#card1ak:nth-child(1) {
    animation-delay: 0s;
}
#card2ak:nth-child(2) {
    animation-delay: 0.4s; 
}
#card3ak:nth-child(3) {
    animation-delay: 0.8s; 
}
#card4ak:nth-child(4) {
    animation-delay: 1.2s; 
}


@keyframes slideIn3 {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}




#card1ak, #card2ak, #card3ak, #card4ak {
    background-size: cover;
    background-position: center;
}

#card1ak {
    background-image: url('../assets/imagenes/atraccion1ak.png');
}

#card2ak {
    background-image: url('../assets/imagenes/atraccion2ak.png');
}

#card3ak {
    background-image: url('../assets/imagenes/atraccion3ak.png');
}

#card4ak {
    background-image: url('../assets/imagenes/atraccion4ak.png');
}


.contCardsAtracciones_cards_infoak {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(123, 181, 155, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    text-align: center;
}

.contCardsAtracciones_cards_info_tituloak {
    color: #9ee0b8;
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 30px;
    margin-bottom: 0.5em;
}

.contCardsAtracciones_cards_info_textoak {
    color: #d0f8d5;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 17px;
    padding: 0 15px;
}

.contCardsAtracciones_cards:hover .contCardsAtracciones_cards_infoak {
    
    opacity: 3;
}



#contMapaak {
    width: 90%;
    height: 835px;
    background-color: #c1d592;
    margin: 10px 50px 25px 50px;
    justify-self: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);



}


#contMapa_contTit_titak {
    color: $colorCeleste3;
    font-family: 'WaltographRegular', sans-serif;
    font-size: 70px;
    padding: 30px 0px 15px 40px;
    background: linear-gradient( to top, #a1cca5, #8fb996 , #517957);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;
}

#contMapa_contMapa_mapaak {
    padding: 10px 10px 10px 10px;
    width: 90%;
    height: 485px;
    border-radius: 15px;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 50%;
    animation-fill-mode: both;
    transition: width 3s;

    filter: drop-shadow(
        0 4px 8px rgba(0, 0, 0, 0.3)
    )
}


.buttonak {
    position: relative;
    padding: 17px 32px;
    border-radius: 7px;
    border: 2px solid #326f3d;
    font-size: 20px;
    font-family: "Faculty Glyphic", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #75a87b;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
    text-decoration: none;
    display: inline-block;
    text-align: center;

    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 10%;
    animation-fill-mode: both;
    transition: width 3s;
}


.buttonak:hover {
    background:  #326f3d;
    box-shadow: 0 0 30px 5px #214e29;
    transition: all 0.2s ease-out;
}

.buttonak:hover::before {
    animation: sh02 0.5s 0s linear;
}

.buttonak::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

.buttonak:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}




@media screen and (min-width: 768px) and (max-width: 1023px) {

    #contCarouselTexto_ContTitulosPrinc_titak{
        font-size: 60px;
    }

    #contCarouselTexto_ContTitulosPrinc_fraseak{ 
        font-size: 40px;
    }

    #contTexto_textoak{
        font-size: 15px;
    }
}


@media screen and (min-width: 320px) and (max-width: 767px) {

    #contcarousel{
        margin-left: 12px;
        height: 200px;
        width: 500px;
    }

    #contCarouselTexto_ContTitulosPrinc_titeak{
        margin-left: 12px;
        width: 500px;
        font-size: 45px;
    }

    #contCarouselTexto_ContTitulosPrinc_fraseak{ 
        margin-left: 12px;
        width: 500px;
        font-size: 19px;
    }


    #contTexto_textoak{
        font-size: 10px;
    }

    #ontTitAtrac{
        height: 300px;
    }

    #contTitAtrac_titak{
        margin-left: 12px;
        font-size: 55px; 
    }


    #contMapa_contTit_titak{
        font-size: 30px;
    }

    #contMapa_contMapa{
        height: 200px;
    }

    #contMapa_contMapa_mapaak{
        width: 270px;
        height: 190px;
    }

    #button-container{
        height: 100px;
        width: 100px;
    }

    #contMapaak{
        height: 500px;
    }
    

}