#card1ep:nth-child(1) {
    animation-delay: 0s;
}
#card2ep:nth-child(2) {
    animation-delay: 0.4s; 
}
#card3ep:nth-child(3) {
    animation-delay: 0.8s; 
}
#card4ep:nth-child(4) {
    animation-delay: 1.2s; 
}

/* Keyframes para el deslizamiento desde un poco más a la derecha */
@keyframes slideIn3 {
    from {
        opacity: 0;
        transform: translateX(30px); /* Inicia ligeramente desplazado a la derecha */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Termina en su posición original */
    }
}




#card1ep, #card2ep, #card3ep, #card4ep {
    background-size: cover;
    background-position: center;
}

#card1ep {
    background-image: url('../assets/imagenes/atraccion1.png');
}

#card2ep {
    background-image: url('../assets/imagenes/atraccion2.png');
}

#card3ep {
    background-image: url('../assets/imagenes/atraccion3.png');
}

#card4ep {
    background-image: url('../assets/imagenes/atraccion4.png');
}