

/*Colores Magic Kingdom*/

$colorprinc:#809BCE;
$colorbody: #FFF4E7;
$colorCeleste1: #A7BFEE;
$colorCeleste2: #8AABE3;
$colorCeleste3: #C3E2F8;
$colorLogo: #00509D;


/*Colores Epcot*/
$colorVioleta1: #A06CD5;
$colorVioleta2: #b98ae3;
$colorVioleta3: #D2B7E5;
$colorLogo2: #ac6adb;

/*Colores Hollywood Studios*/
$colorRojo1: #8C2F39;
$colorRojo2: #d56975;
$colorRojo3: #DC7F7F;
$colorLogo3: #8d2c36;


/*Colores Animal Kingdom*/
$colorVerde1: #84AD6C;
$colorVerde2: #add693;
$colorVerde3: #A8C26B;
$colorLogo4: #265c26;




/*colores footer magic kingdom*/
.colorFooterMK{
    background-color: white;
    background: linear-gradient(to bottom, $colorbody, $colorCeleste2, #3879b7); 
}

.colorLineaMK{
    background-color: $colorCeleste3 ;
}


/*colores footer epcot*/
.colorFooterep{
    background-color: white;
    background: linear-gradient( to top, #72449a, #8d61b6, $colorbody);
}

.colorLineaep{
    background-color: #6b499d ;
}




.contItemsFooter_itemsep{
    margin-top: 170px;
    text-decoration: none;
    color: #4c2e7a;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.contItemsFooter_itemsep:focus,
.contItemsFooter_itemsep:hover {
    color: #b396df;
}

.contItemsFooter_itemsep:focus:after,
.contItemsFooter_itemsep:hover:after {
    width: 100%;
    left: 0%;
}

.contItemsFooter_itemsep:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #b396df ;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}




.footerSecciones_titulosep {
    color: #4c2e7a;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
}


.footerSecciones_titulos_contRedes_redesep {
    font-size: 2rem;
    color: #4c2e7a; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.footerSecciones_titulos_contRedes_redesep:hover {
    color: #b396df; 
    transform: translateY(-5px); 
}

.footerSecciones_titulos_itemsep{
    text-decoration: none;
    color: #4c2e7a;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    position: relative;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.footerSecciones_titulos_itemsep:hover{
    color: #b396df;

}


#contDerechosFooter_derechosep{
    color: #4c2e7a;
    font-size: 14px;
}




/*colores footer Hollywood Studios*/
.colorFooterhs{
    background-color: white;
    background: linear-gradient( to top, #ba5964, #db8d94, $colorbody);
}

.colorLineahs{
    background-color: #bf6868 ;
}




.contItemsFooter_itemshs{
    margin-top: 170px;
    text-decoration: none;
    color: #7a2e2e;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.contItemsFooter_itemshs:focus,
.contItemsFooter_itemshs:hover {
    color: #d47275;
}

.contItemsFooter_itemshs:focus:after,
.contItemsFooter_itemshs:hover:after {
    width: 100%;
    left: 0%;
}

.contItemsFooter_itemshs:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #d47275 ;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}




.footerSecciones_tituloshs {
    color: #7a2e2e;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
}


.footerSecciones_titulos_contRedes_redeshs {
    font-size: 2rem;
    color: #7a2e2e; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.footerSecciones_titulos_contRedes_redeshs:hover {
    color: #eaa0a3; 
    transform: translateY(-5px); 
}

.footerSecciones_titulos_itemshs{
    text-decoration: none;
    color: #7a2e2e;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    position: relative;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.footerSecciones_titulos_itemshs:hover{
    color: #eaa0a3;

}


#contDerechosFooter_derechoshs{
    color: #7a2e2e;
    font-size: 14px;
}




/*colores footer Animal Kingdom*/
.colorFooterak{
    background-color: white;
    background: linear-gradient( to top, #5f8764, #8fb996, $colorbody);
}

.colorLineaak{
    background-color: #7c9e7c ;
}




.contItemsFooter_itemsak{
    margin-top: 170px;
    text-decoration: none;
    color: #265c26;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.contItemsFooter_itemsak:focus,
.contItemsFooter_itemsak:hover {
    color: #a5e3a5;
}

.contItemsFooter_itemsak:focus:after,
.contItemsFooter_itemsak:hover:after {
    width: 100%;
    left: 0%;
}

.contItemsFooter_itemsak:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #a5e3a5;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}




.footerSecciones_titulosak {
    color: #265c26;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
}


.footerSecciones_titulos_contRedes_redesak {
    font-size: 2rem;
    color: #265c26; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.footerSecciones_titulos_contRedes_redesak:hover {
    color:#a5e3a5; 
    transform: translateY(-5px); 
}

.footerSecciones_titulos_itemsak{
    text-decoration: none;
    color: #265c26;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    position: relative;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.footerSecciones_titulos_itemsak:hover{
    color: #a5e3a5;

}


#contDerechosFooter_derechosak{
    color: #265c26;
    font-size: 14px;
}






/*Footer general*/

footer{
    margin: 90px 0px 0px 0px;
    width: 100%;
    height: 550px;
}

.contItemsFooter{
    padding: 130px;
    width: 55%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.contItemsFooter_items{
    margin-top: 170px;
    text-decoration: none;
    color: #11477a;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.contItemsFooter_items:focus,
.contItemsFooter_items:hover {
    color: $colorCeleste3;
}

.contItemsFooter_items:focus:after,
.contItemsFooter_items:hover:after {
    width: 100%;
    left: 0%;
}

.contItemsFooter_items:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: $colorCeleste3  ;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}



#contLineaFooter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contLineaFooter_linea{
    border: none;
    height: 2px; 
    width: 90%; 
    margin: 0px 0px 50px 15px; 
    opacity: 0.7; 
}

#footerSecciones {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding: 0 250px;
}

.footerSecciones_contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.footerSecciones_redes {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footerSecciones_cuenta {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.footerSecciones_titulos {
    color: #11477a;
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 23px;
    margin-bottom: 10px;
}

.footerSecciones_titulos_contRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footerSecciones_titulos_contRedes_redes {
    font-size: 2rem;
    color: #11477a; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.footerSecciones_titulos_contRedes_redes:hover {
    color: $colorCeleste3; 
    transform: translateY(-5px); 
}






.footerSecciones_titulos_items{
    text-decoration: none;
    color: #11477a;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    position: relative;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.footerSecciones_titulos_items:hover{
    color: $colorCeleste3;

}


.footerSecciones_titulos_items{
    text-decoration: none;
    color: #11477a;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    position: relative;
    border: none;
    background: none;
    transition: color 0.3s ease;
}

.footerSecciones_titulos_items:hover{
    color: $colorCeleste3;

}




#contDerechosFooter{
    margin-top: 40px; 
    text-align: center;
    width: 100%;
}

#contDerechosFooter_derechos{
    color: #11477a;
    font-size: 14px;
}