*{
    margin: 0 ;
    padding: 0;
}

$colorbody: #FFF4E7;
$colorCeleste1: #A7BFEE;
$colorCeleste2: #8AABE3;
$colorCeleste3: #C3E2F8;

.bodbodyMKingdomy{
    background-color: $colorbody;
}

#menu1{
    background-color: $colorCeleste1 !important;
    height: 110px ;
    margin: 0 ;
    padding: 0;
}

#menu1_contLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu1_contLogo_logo{
    font-family: 'WaltographRegular';
    color: #00509D;
    font-size: 75px;
}

#menu2{
    background-color:$colorCeleste2 !important;
    height: 55px ;
    margin: 0 ;
    padding: 0;
}

#menu2_contItems{
    display: flex;
    justify-content: space-evenly;
}

.menu2_items {
    color: $colorbody !important;
    font-size: 25px;
    transition: color 0.3s ease;
    font-family: "Merriweather", serif;
    position: relative;
    padding-bottom: 5px;
}

.menu2_items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #C3E2F8, transparent);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: right; /* Comienza el destello desde la derecha */
}

.menu2_items:hover {
    color: #C3E2F8 !important; /* Cambia el color del texto */
}

.menu2_items:hover::after {
    transform: scaleX(1); /* Muestra el subrayado con el gradiente */
    transform-origin: left; /* Hace que el destello recorra de derecha a izquierda */
}

#contImgPrinc{
    padding: 0;
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 ;
    padding: 0;
}

#contImgPrinc_imgPrinc{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 ;
    padding: 0;
}

#contTitulo{
    width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#contTitulo_titulo{
    font-size: 40px;
    margin: 5px;
    color: #fff2e1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

#contTexto{
    background-color: $colorCeleste3;
    width: 100%;
    height: 300px;
    border: solid 30px $colorbody;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contTexto_texto{
    text-align: justify;
    font-size: 25px;
}

.contcarousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.contcarousel_carousel{
    width: 50%;

}

#contTit{
    margin: 0;
    padding: 0;
    border-top: solid 50px $colorbody;
    width: 100%;
    height: 120px;
    background-color: $colorCeleste2;
    align-items: center;
}

#contTit_tit{
    text-align: center;
}