*{
    margin: 0 ;
    padding: 0;
}

$colorbody: #FFF4E7;
$colorCeleste1: #90E0EF;
$colorCeleste2: #48CAE4;
$colorCeleste3: #ADE8F4;

body{
    background-color: $colorbody;
}

#menu1{
    background-color: $colorCeleste1 !important;
    height: 120px ;
    margin: 0 ;
    padding: 0;
}

#menu1_contLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu1_contLogo_logo{
    font-family: 'WaltographRegular';
    color: #00509D;
    font-size: 75px;
}

#menu2{
    background-color:$colorCeleste2 !important;
    height: 65px ;
    margin: 0 ;
    padding: 0;
}

#menu2_contItems{
    display: flex;
    justify-content: space-evenly;
}

.menu2_items{
    color: #FDF1E4 !important;
    font-size: 25px;
}


#contImgPrinc{
    padding: 0;
    width: 100%;
    height: 600px;
    position: relative;
    margin: 0 ;
    padding: 0;
}

#contImgPrinc_imgPrinc{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 ;
    padding: 0;
}

#contTitulo{
    width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#contTitulo_titulo{
    font-size: 40px;
    margin: 5px;
    color: #fff2e1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

#contTexto{
    background-color: $colorCeleste3;
    width: 100%;
    height: 300px;
    border: solid 30px $colorbody;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contTexto_texto{
    text-align: justify;
    font-size: 25px;
}