@import "variables_princ";
@import "menu";

$purple: #7d5ab5;
$red: #e74c3c;
$blue: #3498db;
$green: #2ecc71;
$orange: #f39c12;
$pink: #ff6b81;
$brown: #8d6e63;
$gray: #bdc3c7;

// Variables
$primary-color: #3498db;
$button-hover-color: #2980b9;
$input-border-color: #ddd;
$input-focus-color: #3498db;
$button-color: #ffffff;

// Estilos generales
* {
    margin: 0;
    padding: 0;
}

#bodyPersonajes {
    background-color: $colorbody;
}

.sectionGaleria {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sectionGaleria, .imgGaleria {
    flex-grow: 1;
    object-fit: cover;
    width: 0px;
    transition: 0.5s ease;
}

.sectionGaleria, .imgGaleria:hover {
    cursor: crosshair;
    width: 50%;
    filter: contrast(120%);
}
