$footer-bg-color: #5c92cc;
$footer-text-color: #ffffff;
$footer-link-color: #ffffff;
$primary-color: #00a9f2;
$secondary-color: #172D9D;
$white: #fff;
$black: #000;
$font-family-base: Arial, sans-serif;
$font-family-title: "Atma", serif;

#bodySesion {
  background: linear-gradient(to bottom, $primary-color, $secondary-color); 

}

.Volver {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.Volver:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.Volver:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}


.group {
  position: relative;
  margin: 18px;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 200px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }

.containerLogin {
  align-items: center;
  font-family: $font-family-base;
  gap: 10px;
}

.form-containerLogin {
  width: 650px;
  height: 730px;
  background: $secondary-color;
  border-radius: 9px;
  box-shadow: 4px 8px 8px $black;
  flex-direction: column; /* Alinea elementos verticalmente */
  gap: 10px; /* Espaciado entre los campos */
}

.MyDisney {
  font-family: $font-family-title;
  font-weight: 600;
  font-style: normal;
  color: $black;
}

.BotonVolver {
  position: absolute;
  right: 30px;
  top: 30px;
}

.footer-Login {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  .footer-Login-link {
      color: $footer-link-color;
      margin-right: 15px;
      text-decoration: none;
      &:hover {
          text-decoration: underline;
          color: lighten($footer-link-color, 10%);
      }
  }
}
.text-muted {
  color: lighten($footer-text-color, 20%);
}
