/*no lo usen al final paso las cosas yo*/
$colorprinc:#809BCE;
$colorfondo:#FFF4E7;
$colorbody: #FFF4E7;
$colorCeleste1: #A7BFEE;
$colorCeleste2: #8AABE3;
$colorCeleste3: #C3E2F8;
$colorLogo: #00509D;