/*Colores Magic Kindgdom*/
$colorprinc:#809BCE;

$colorbody: #FFF4E7;
$colorCeleste1: #A7BFEE;
$colorCeleste2: #8AABE3;
$colorCeleste3: #C3E2F8;
$colorLogo: #00509D;

/*Colores Epcot*/
$colorVioleta1: #A06CD5;
$colorVioleta2: #815AC0;
$colorVioleta3: #D2B7E5;
$colorLogo2: #c5a2dd;