@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Kablammo&family=Modak&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$footer-bg-color: #5c92cc;
$footer-text-color: #ffffff;
$footer-link-color: #ffffff;
$primary-color: #00a9f2;
$secondary-color: #172D9D;
$white: #fff;
$black: #000;
$font-family-base: Arial, sans-serif;
$font-family-title: "Atma", serif;

#bodySesion {
  background: linear-gradient(to bottom, $primary-color, $secondary-color);
}

.container {
  align-items: center;
  font-family: $font-family-base;
}

.form-container {
  width: 600px;
  height: 690px;
  background: $white;
  border-radius: 9px;
  box-shadow: 4px 8px 8px $black;
}

.MyDisney {
  font-family: $font-family-title;
  font-weight: 600;
  font-style: normal;
  color: $black;
}

.form-titulo {
  color: $black;
  margin-bottom: 5px;
}

.cambiarDeForm {
  text-align: center;
  color: $white;
  margin-top: 10px;
}

.BotonVolver {
  position: absolute;
  right: 30px;
  top: 30px;
}

.footer-Login {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  .footer-Login-link {
      color: $footer-link-color;
      margin-right: 15px;
      text-decoration: none;
      &:hover {
          text-decoration: underline;
          color: lighten($footer-link-color, 10%);
      }
  }
}
.text-muted {
  color: lighten($footer-text-color, 20%);
}
